<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title> Some Website </title>
</head>>

<body>
     {{> header}}
    <p>{{body}}</p>
    {{!-- aqui estoy llmando el handlerbar screamIt para hacer mayuscula el texto que envia el welcome Message --}}
    <p>For Sure >> {{screamIt welcomeMessage}}</p>

    {{> footer}}


</body>

</html>